// UIKit Theme Customizations (see https://getuikit.com/docs/sass)

// 1. Your custom variables and variable overwrites in ./theme/_variables.scss
// @import "theme/variables";
// $global-link-color: #DA7D02;

// 2. Import default variables and available mixins.
@import "~uikit/src/scss/variables.scss";
@import "~uikit/src/scss/mixins.scss";

// 3. Your custom mixin overwrites.
//@import "theme/accordion-mixins.scss";

// 4. Import UIkit.
@import "~uikit/src/scss/uikit.scss";

html, body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#prompt {
  position: fixed;
  bottom: 0;
  background: transparent;
}
.uk-input, .uk-select, .uk-textarea {
  border: 1px solid #e5e5e5;
  background: rgba(255,255,255,0.3);
}
.uk-dropdown {
  padding: 4px 0;
}
form.uk-form-stacked label {
  font-size: 0.8em;
}
.debug {
  display: none !important;
}
