{% extends "friede/index.html" %}
{% block friede_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'friede/mayflower/css/style.css' %}"/>
    {% block styles %}{% endblock %}
    <script type="text/javascript" src="{% static 'friede/mayflower/js/vendor.js' %}"></script>
    <script type="text/javascript" src="{% static 'friede/mayflower/js/init.js' %}"></script>
    {% block scripts %}{% endblock %}
{% endblock %}
{% block body %}
    <div id="app"/>
{% endblock %}
{% block footer %}
    <script type="text/javascript" src="{% static 'friede/mayflower/js/main.js' %}"></script>
{% endblock %}
